body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.App{
  display: flex;
  flex-direction: row;
  height: 100%;
}

.container-AssetSelection{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  grid-column-gap: 5%;
  grid-row-gap: 5%;
  padding: 10%;
  justify-content: center;
  align-items: center;
}

